.movie {
    display: flex;
    margin-left: 15px;

}

.details {
    display: flex;
    margin-left: 15px;
}

.description {
    display: block;
    margin-left: 15px;
}


.backButton {
    cursor: pointer;
    width: 80px;
    text-align: center;
    font-weight: bold;
    padding: 10px 15px;
    margin-bottom: 15px;
    box-shadow: 1px 2px 2px 0 rgb(0, 0, 0/0.5);
    transition: box-shadow 250ms linear;
    border-radius: 10px;
    border: 2px solid #2196f3;
}

.backButton:hover {
    background-color: #2196f3;
    color: white;
}


.reviews:hover,
.cast:hover {
    background-color: #2196f3;
    color: white;
}